body {
    background-color: #ffffff;   
    width: 100%;
    scroll-behavior: smooth;
}

/* .col-sm {
    margin-top: 30px;
} */

header {
    width: 100%;
    background-color: #c4cfe3;
    /* min-height: 100vh; */
    text-align: center;
}

main {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color: #ffffff;
    min-height: 100vh;
    text-align: center;

}

footer {
    width: 100%;
    background-color: #f5f7f9;
    text-align: center;
    color: #ffffff;
    height: 100vh;
}

.btn {
    background-color: #f15045;
    border-color: #f15045;

}

.btn:hover {
    background-color:#f03221;
    border-color: #f03221;
}

.card {
    background-color:#f5f7f9;
    margin-bottom: 30px;
    height: 100%;
    max-height: 100vh;
}

#write {
    padding-top: 10px;
    padding-bottom: 10px;
}

.carouselbut {
    display: flex;
    position: absolute;
    left: 33%;
    top: 66%;
    justify-content: center;
    align-items: center;
}

.recap {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.inputText {
    max-width: 600px;
    width: 100%;
    margin-bottom: 15px;
}

#theDate {
    -webkit-appearance: textfield;
}

.formSend {
    padding: 20px;
}

.d-block {
    object-fit: cover;
    height: 100vh;
}

#img {
    object-fit: cover;
    width: 100%;
    height: 18em;
}

#koko {
    margin-bottom: 30px;
}

 /* Landscape phones and down */
@media (max-width: 480px) {

    .carouselbut {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
    }

    .visible-desktop {
        visibility: hidden;
    }

    .card {
        margin: auto;
        margin-bottom: 30px;
        height: 100%;
        max-height: none;
    }

    .d-block {
        object-fit: cover;
        height: 60vh;
    }
    
}
 
 /* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .visible-desktop {
        visibility: hidden;
    }
}

 /* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

 }