body {
    background-color: #ffffff;   
    width: 100%;
}

header {
    width: 100%;
    background-color: #fa983a;
    height: 100vh;
    text-align: center;
}

main {
    padding-top: 50px;
    width: 100%;
    background-color: #b8e994;
    height: 100vh;
    text-align: center;

}

footer {
    width: 100%;
    background-color: #0c2461;
    text-align: center;
    color: #ffffff;
    height: 100vh;
}