body {
    background-color: #ffffff;   
    width: 100%;
    scroll-behavior: smooth;
}

/* .col-sm {
    margin-top: 30px;
} */

header {
    width: 100%;
    background-color: #c4cfe3;
    /* min-height: 100vh; */
    text-align: center;
}

main {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color: #ffffff;
    min-height: 100vh;
    text-align: center;

}

footer {
    padding: 15px;
    width: 100%;
    background-color: #f5f7f9;
    text-align: center;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: rgba(1,1,1,.6);
}

a:hover {
    color: rgba(1,1,1,1);
    text-decoration: none;
}
.btn {
    background-color: #f15045;
    border-color: #f15045;

}

.btn:hover {
    background-color:#f03221;
    border-color: #f03221;
}

.card {
    background-color:#f5f7f9;
    margin-bottom: 30px;
    height: 100%;
    max-height: 100vh;
}

/* #write {
    padding-top: 10px;
    padding-bottom: 10px;
} */
.carouselData {
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.h100 {
    display: flex;
    height: 100%;
}
.dataslide {
    margin: auto;
}

.textslide {
    text-align: left;
    padding-right: 10px;
    text-align: left;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 5px;
    padding-left: 10px;
}

.carouselbut {
}

.policy {
    border-top: 1px solid #d6d8da;
    padding-top: 15px;
}

.bottom-text {
    font-size: 11px;
    padding: 0;
    color: rgba(33, 37, 41, 0.8);
}

.padding-bottom {
    padding-bottom: 5px;
}


.recap {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.inputsText {
    max-width: 600px;
    margin: auto;
}

.cardInput {
    margin: auto;
    width: 100%;
}

.red-star {
    font-weight: bold;
    color: #f15045;
}

.inputText {
    width: 100%;
    margin-bottom: 15px;
}

#theDate {
    -webkit-appearance: textfield;
}

.formSend {
    padding: 20px;
}

.d-block {
    object-fit: cover;
    height: 50vh;
}

#img {
    object-fit: cover;
    width: 100%;
    height: 18em;
}

#koko {
    margin-bottom: 30px;
}

.card-title {
    font-weight: bold;
}

.left {
    text-align: left;
}

.footer {
    /* background-color: #ffffff; */
}

.margin50 {
    margin: 50px;
}

.cont {
    justify-content: center;
   
    /* border: #f03221;
    border-radius: 5px;
    border-style: dotted; */
}

.soc {
    justify-content: center;
    border-top: 1px solid #d6d8da;
}

.bord {
    border-left: 1px solid #d6d8da;
    border-right: 1px solid #d6d8da;
}

.colum {
    width: 33%;
    margin-top: 30px;
    margin-bottom: 30px;
}

 /* Landscape phones and down */
@media (max-width: 480px) {
    .columphone {
        width: 100%;
        margin-top: 0;
    }

    .carouselbut {
        /* display: flex;
        position: absolute;
        justify-content: center;
        align-items: center; */
    }

    .visible-desktop {
        visibility: hidden;
    }

    .card {
        margin: auto;
        margin-bottom: 30px;
        height: 100%;
        max-height: none;
    }

    .d-block {
        object-fit: cover;
        height: 60vh;
    }

  

    .cont {
        padding-top: 30px;
    }
    
}
 
 /* Landscape phone to portrait tablet */
@media (max-width: 767px) {

    .d-block {
        height: 80vh;
    }

    .visible-desktop {
        visibility: hidden;
    }

    .card {
        height: none;
        max-height: none;
    }

    .dataslide {
        padding-left: 40px;
        padding-right: 40px;
    }
}

 /* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .dataslide {
        padding-left: 40px;
        padding-right: 40px;
    }
 }