body {
    background-color: #F5F7F9;   
    width: 100%;
}

.col-sm {
    margin-top: 30px;
}

header {
    width: 100%;
    background-color: #fa983a;
    min-height: 100vh;
    text-align: center;
}

main {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color: #F5F7F9;
    min-height: 100vh;
    text-align: center;

}

footer {
    width: 100%;
    background-color: #0c2461;
    text-align: center;
    color: #ffffff;
    height: 100vh;
}